/*
 * 
 */
/*
 * font-size
 */
/*
 * color
 */
/*
 * border-radius
 */
/*
 * space
 */
/*
 * input
 */
/*
 * radio
 */
/*
 * grid
 */
/*
 * business
 */
/*
 * header
 */
/*
 * line-height
 */
/*
 * @mixin [ellipsis] 添加省略号
 */
.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*
 * 弹性盒布局的兼容性写法
 * @mixin [display-flex]  定义一个弹性盒子
 * @mixin [flex-direction]  定义弹性盒子的方向  |row|row-reverse|column|column-reverse
 * @mixin [flex]  定义弹性系数
 * @mixin [flex-align]  主轴内容对齐方式 center|flex-start|flex-end|space-between|space-around
 * @mixin [flex-column] 垂直方向的弹性盒
 * @mixin [flex-row] 水平方向的弹性盒
 * @mixin [align-items] 侧轴单行的内容对齐方式 center|flex-start|flex-end|strench
 * @mixin [align-self] 定义flex单个子项在侧轴（纵轴）方向上的对齐方式 center|flex-start|flex-end|strench
 * @mixin [flex-wrap] 换行
 * @mixin [flex-order] 排序
 * @mixin [align-content] 有多行情况下，侧轴方法上各行之间的对齐方式
 * @mixin [flex-grow]
 * @mixin [flex-shrink]
 * @mixin [flex-basis]
 */
.flex-full {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/*
 * 旧的盒子模型 
 */
.display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
}
.inline-center-x {
  text-align: center;
}
.margin-center-xy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.absolute-center-y {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.absolute-center-x {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.absolute-center-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.flex-center-y {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-center-x {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-center-y {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-center-xy {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.example p {
  padding-left: 0.625rem;
}
.example .parent {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  background-image: -webkit-linear-gradient(top, #faebd7, rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, #faebd7, rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, #faebd7, rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, #faebd7, rgba(0, 0, 0, 0.2));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1471da, endColorstr=#1c85fb);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";
  /*IE8+*/
  /* Safari 4-5, Chrome 1-9  版本太老，不考虑兼容*/
  /*& when(@direction = top) {
        background-image:-webkit-gradient(linear,center top,center bottom,from(@start),to(@end));
    }

    & when(@direction = top) {
        background-image:-webkit-gradient(linear,left center,right center,from(@start),to(@end));
    }*/
  color: rgba(0, 0, 0, 0.85);
}
.example .child {
  /*background-color: @child-bgcolor;*/
  background-image: -webkit-linear-gradient(top, #fff68f, #ffc125);
  background-image: -moz-linear-gradient(top, #fff68f, #ffc125);
  background-image: -o-linear-gradient(top, #fff68f, #ffc125);
  background-image: linear-gradient(top, #fff68f, #ffc125);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1471da, endColorstr=#1c85fb);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)";
  /*IE8+*/
  /* Safari 4-5, Chrome 1-9  版本太老，不考虑兼容*/
  /*& when(@direction = top) {
        background-image:-webkit-gradient(linear,center top,center bottom,from(@start),to(@end));
    }

    & when(@direction = top) {
        background-image:-webkit-gradient(linear,left center,right center,from(@start),to(@end));
    }*/
  /*@length:length(@arguments);

    .set-box-shadow(@n:1) when (@n <= @length){
        @prop:@arguments;

        -moz-box-shadow+: @prop;
	    -webkit-box-shadow+: ~"@{prop}";
	    box-shadow+: ~"@{prop}";

        .set-box-shadow(@n + 1);
    }

    .set-box-shadow(1);*/
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  height: 40px;
  color: rgba(0, 0, 0, 0.55);
}
.example .child + .example .child {
  padding-left: 1.5625rem;
}
.example div.child {
  width: 40px;
}
.example span.child {
  height: auto;
}
.example + .example {
  margin-top: 1.25rem;
  border-top: 2px dashed #4682B4;
}
/*
 * 此设置相当于将子类容器高度与父类容器高度一致，
 * table-cell的基线与中线重合，设置vertical-align = middle可以使文本垂直居中
 * 缺点：父类容器需要设置table样式，需要加宽度100%
 */
.example-align-middle-1 {
  display: table;
  width: 100%;
}
.example-align-middle-1 .child {
  display: table-cell;
  vertical-align: middle;
}
.example-align-middle-2 {
  line-height: 60px;
}
.example-center-y-1 {
  position: relative;
}
.example-center-y-1 .child {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.example-center-y-2 {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.example-center-xy-1 {
  position: relative;
  text-align: center;
}
.example-center-xy-1 .child {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.example-center-xy-2 {
  position: relative;
  text-align: center;
}
.example-center-xy-2 .child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.example-center-xy-3 {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
